<div class="container mt-5">
    {% include section_header.html
    title="Connect With Us"
    brief="We're online, so follow and get news about 10x subjects and other important info from the technical communities" %}

    <div class="row">
        <div class="col">
        {% include image_box.html
            title="Bluesky"
            image="https://api.pictographic.io/images/notion/dYcLm6UtDQHPqncFaPTq.svg?color=%23161613"
            brief="Follow us on Bluesky for real-time updates, engaging discussions, and insights from industry leaders."
            %}
            <a href="https://www.linkedin.com/newsletters/7242495495711899650/?displayConfirmation=true" class="card-text btn btn-dark btn-lg dm-sans-100">Follow</a>
        </div>
        <div class="col">
        {% include image_box.html
            title="LinkedIn"
            image="https://api.pictographic.io/images/notion/3sjpIlJC8fOvbfzSeQ7W.svg?color=%23161613"
            brief="Sign up for the 10x Insights newsletter, connect with other developers, and participate in insightful discussions and thought-provoking articles"
            %}
            <a href="https://www.linkedin.com/newsletters/7242495495711899650/?displayConfirmation=true" class="card-text btn btn-dark btn-lg dm-sans-100">Subscribe Now</a>

        </div>
            <div class="col">

        {% include image_box.html
                title="Twitter"
                image="https://api.pictographic.io/images/notion/307ehRTGVU959LZb7kqM.svg?color=%23161613"
                brief="Follow us on Twitter to stay connected with our community, receive updates, and engage in discussions on various tech-related topics."
                %}
                <a href="https://www.linkedin.com/newsletters/7242495495711899650/?displayConfirmation=true" class="card-text btn btn-dark btn-lg dm-sans-100">Follow</a>
        </div>
    </div>
</div>