<div class="container mt-5">

    <div class="row align-items-center">
        <div class="col-md-7 d-flex justify-content-left">
            <!-- Card -->
            <div class="card border-0">

                <div class="card-body minihero ">
                    <h1 class="display-5"><img  src="/assets/logo/logo-open-source.svg" width="50px" height="50px"> 10x Insights</h1>
                    <p class="card-text lead">Level Up Your Development Career</p>
                    <a href="#subscribe" class="card-text btn btn-dark btn-lg dm-sans-100">Subscribe Now</a>
                    <a href="#explore" class="card-text btn btn-dark btn-lg dm-sans-100">Listen to Episodes</a>
                    <a href="#blog" class="card-text    btn btn-dark btn-lg dm-sans-100">Read the Blog</a>
                </div>
            </div>
        </div>
        <div class="col-md-5 d-flex justify-content-center">
            <img alt="" src="https://api.pictographic.io/images/notion/c67nSFJuf823sJ8ANh4P.svg?color=%23161613"/>
        </div>
    </div>

</div>