<div class="container mt-5">
    <div class="py-2"></div>

    {% include section_header.html
    title="Featured Episodes"
    brief="Explore our latest podcast episodes, featuring insightful conversations with experts on various
    topics related to software development and tech career growth." %}


    <div class="row align-items-center mt-3">

        <div class="col-md-5 offset-md-1">
            <a class="no-underline" href="/pod1">
            {% include image_box.html

            image="https://api.pictographic.io/images/notion/AMBVLmZ3g65y9tQUSFbkS9.svg?color=%23161613"
            title="Building Scalable Architecture"
            brief="Our conversation with a renowned software architect explores strategies for designing robust
            and scalable systems, addressing key challenges and providing practical solutions." %}
                </a>
        </div>
        <div class="col-md-5">
            {% include image_box.html
            image="https://api.pictographic.io/images/notion/t5i76lQOgtBDs4utMp7x.svg?color=%23161613"
            title="Mastering the Art of Debugging"
            brief="Join us as we dive into effective debugging techniques and strategies, exploring tools,
            workflows, and mindset shifts to streamline your development process." %}
        </div>
    </div>
</div>