
<div class="container mt-5">
<div class="row align-items-center  mt-5">

    <div class="upcoming-episodes">
        <div class="row">
            <div class="col-md-5 image-container">
                <img src="https://api.pictographic.io/images/notion/dAjkUHEnBGO5O3qSK8Xs.svg?color=%23161613" alt="Calendar">
            </div>

            <div class="col-md-7">
                <h1 class="display-4">Upcoming Episodes</h1>
                <p class="lead">Here's a sneak peek at our upcoming podcast episodes, featuring exciting topics and inspiring guests.</p>

                <div class="timeline mt-5">

                    <div class="timeline-item" data-number="1">
                        <a href="#" class="no-underline">
                        <div class="px-5">
                            <div class="episode-title"><img  src="/assets/logo/logo-open-source.svg" width="25px" height="25px" alt="Card image cap"> The Lore of the 10x Developer</div>
                            <div class="episode-description">
                                Join us for a conversation with  <a href="https://www.linkedin.com/in/justinreock/">Justin Reock</a> and <a href="https://www.linkedin.com/in/noregressions">Steve Poole<a>, discussing just what a 10x developer is, and how to become one.

                            </div>
                        </div>
                        </a>
                    </div>

                    <div class="timeline-item px-5" data-number="2">
                        <a href="#" class="no-underline">
                        <div class="episode-title"><img  src="/assets/logo/logo-dora.svg" width="25px" height="25px" alt="Card image cap"> DORA Metrics for everyone</div>
                        <div class="episode-description">
                            Listen to <a href="https://www.linkedin.com/in/tracylbannon/">Tracy Bannon</a> and <a href="https://www.linkedin.com/in/nathen/">Nathen Harvey</a> explain what DORA metrics are and why they make a 10x difference
                        </div>
                        </a>
                    </div>
                    <div class="timeline-item px-5" data-number="3">
                        <a href="#" class="no-underline">
                        <div class="episode-title"><img  src="/assets/logo/logo-elastic.svg" width="25px" height="25px" alt="Card image cap"> All in with Elastic Search </div>
                        <div class="episode-description">
                            <a href="https://www.linkedin.com/in/noregressions">Steve Poole<a> and <a href="https://www.linkedin.com/in/kadi-grigg/">Kadi Grigg</a> talk to <a href ="https://www.linkedin.com/in/jessica-garson-30b21614/">Jess Garson</a> about all things Elastic Search
                        </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
</div>
