<div class="container mt-5">

    {% include section_header.html title="About 10x Insights" brief="10x Insights is a podcast and website
    dedicated to helping developers and tech professionals grow and reach their full potential" %}

    <div class="row align-items-center mt-3">
        <div class="col-md-6 d-flex ">

            {% include highlighted_box.html title="Gain Actionable Insights" brief="Learn from industry experts,
            get practical advice, and discover new tips and tricks to elevate your development career." %}


        </div>

        <div class="col-md-6 d-flex ">
            {% include highlighted_box.html

            title="Hear Inspiring Stories"
            brief="Each episode features real-life stories of success and struggles in the tech world, providing
            motivation and inspiration." %}
        </div>
    </div>
    <div class="row align-items-center mt-3">

        <div class="col-md-12  ">

            {% include highlighted_box.html
            title="Find Supportive Communities"
            brief="Connect with other developers, share your experiences, and learn from each other through
            online communities and social media"
            %}

        </div>

    </div>
</div>