<div class="container mt-5">
    {% include section_header.html
    title="Explore Our Podcast Library"
    brief="The full list of podcasts, past, present and future" %}

    <div class="row align-items-center mt-3">
        <div class="col-md-6 d-flex ">

            {% include highlighted_box.html
            title="10x Insights"
            button="xxx"
            brief="Our latest podcast, 10x topics, career advice. All with that extra seasoning. For devs, devops, QA, managers, SRE. Well just about anyone" %}


        </div>

        <div class="col-md-6 d-flex ">
            {% include highlighted_box.html
            button= "https://www.linkedin.com/newsletters/7242495495711899650/?displayConfirmation=true"
            title="Wicked Good Development"
            brief="A previous incarnation of the podcast. Still around but sadly out to pasture. Go here for 32 episodes with industry folk across the board" %}

        </div>

    </div>
</div>