<div class="container mt-5">
    {% include section_header.html
    title="Connect With Us"
    brief="We're online, so follow and get news about 10x subjects and other important info from the technical communities" %}

    <div class="row">

<div class="row align-items-center mt-3 ">
    {% for conn in site.data.connections %}
    <div class="col-md-2 d-flex offset-md-1 ">

        <div class="col">

            <a href="{{conn.link}}" class="no-underline">
            {% include image_box.html
            title=conn.title
            image=conn.image
            brief=conn.description
            %}
            </a>
        </div>

    </div>
    {% endfor %}

</div>
        </div>
</div>