<div class="container mt-5">
    {% include section_header.html
    title="Join Our Newsletter"
    brief="Stay up-to-date with the latest insights, news, and resources for developers and tech professionals. Sign up for our newsletter to receive exclusive content, updates, and valuable tips directly in your inbox." %}
    <div class="row">
        <div class="col-md-5 highlight">
            <h3>LinkedIn Newsletter</h3>
            <p class="lead">Sign up for the 10x Insights newsletter and  connect with other readers</p>
            <a class=" no-underline" style="color:white; background:rgb(256,99,71);" href="https://www.linkedin.com/newsletters/7242495495711899650/?displayConfirmation=true" >Subscribe Now</a>
        </div>
        <div class="col-md-5 offset-md-1 highlight">
            <h3>Mailing list</h3>
        {%include hubspot_signup.html %}
        </div>
    </div>
</div>