<div class="card border-0 h-100 w-100">
    {% if include.button %}
        <a href="{{include.button}}" class="no-underline">
    {% endif %}

    <div class="card-body highlight">

        {% if include.img %}
        <img class="card-img-top" src="/assets/images/{{include.img}}">
        {% endif %}
        <h5 class="card-title">
            {% if include.logo %}
                <img  src="/assets/logo/{{include.logo}}" width="25px" height="25px" alt="Card image cap">
            {% endif %}

            {{include.title}}</h5>
        {% if include.date %}
        {% assign formatted_date = include.date | date: "%-d %B %Y"  %}
        <p class="card-text fst-italic">{{formatted_date}}</p>
        {%endif%}
        <p class="card-text  lead">{{include.brief}}</p>

    </div>
        {% if include.button %}
        </a>
        {% endif %}
</div>