<style>
    .libutton {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 7px;
      text-align: center;
      outline: none;
      text-decoration: none !important;
      color: #ffffff !important;
      align-items: center;
      border-radius: 16px;
      background-color: #0A66C2;
      font-family: "SF Pro Text", Helvetica, sans-serif;
    }
</style>
<a class="libutton" href="https://www.linkedin.com/build-relation/newsletter-follow?entityUrn=7242495495711899650" target="_blank">Subscribe to 10x Insights Newsletter</a>