{% assign person = site.people | where: "key", include.key | first %}
<div class="card border-0" >
    <a class="img no-underline" href="{{person.url}}">

    <img src="/assets/images/{{person.image}}"   alt="{{person.name}}" class="card-img-top img-fluid " >
    {% if include.detail %}
    <div class="card-body">
        <h5 class="card-title">{{person.name}}</h5>

        {% if include.podcast_count %}
        {% assign count = site.podcasts | where: "speakers", person.key | size: %}
        <p class="card-text lead">Podcasts: {{ count }}</p>
        {% endif %}
    </div>
        {% else %}
        <p class="card-text">{{person.name}}</p>
        {% endif %}
    </a>
</div>
