body {
    background-color: #F9F8F5;
    font-family: 'Dm Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.no-underline {
    text-decoration: none;
    color: black;
}
.dm-sans-100 {
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.dm-sans-1000 {
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
}

.highlight {
    background-color: #EDEBE3;
}

.dark-highlight {
    background-color: #BFBDAF;
}

.hero1 {
    font-size: 70px;
}

.minihero1 {
    font-size: 20px;
}

.card {
    background-color: #F9F8F5;
}

.upcoming-episodes {

    background: #fff;
    padding: 20px;
    border-radius: 10px;

}

.episode-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.episode-description {
    color: #6c757d;
    margin-top: 10px;
}

.timeline {

    position: relative;
    margin-left: 50px;
    padding-left: 20px;
}

.timeline::before {
    content: "";
    position: absolute;
    top: 0;
    left: 10px;
    bottom: 0;
    width: 2px;
    background-color: #6c757d;
}

.timeline-item {
    position: relative;
    margin-bottom: 30px;
}

.timeline-item::before {
    content: attr(data-number);
    position: absolute;
    top: 0;
    left: -40px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #6c757d;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.calendar {
    text-align: center;
    margin-bottom: 20px;
    background-image: url("https://api.pictographic.io/images/notion/dAjkUHEnBGO5O3qSK8Xs.svg?color=%23161613");
    background-repeat: no-repeat;
    background-size: auto;


}

.image-container {


    overflow: hidden; /* Clip oversized parts */
    position: relative;
}

.image-container img {
/ / width: 100 %; /* Ensure the image fills the container initially */
    height: 100%; /* Maintain aspect ratio */
    position: absolute;
    top: 70%; /* Move image down by 50% of the container */
    left: 50%; /* Move image right by 50% of the container */
    transform: scale(1.2) translate(-50%, -50%);
    transform-origin: center;
}

.calendar img {
    max-width: 100%;
    height: auto;
}
